[Desktop Entry]
Type=Application
Name=TimeWorm
Comment=🐛 frisst deine Stunden
Exec=timeworm
Icon=de.tbe.timeworm
Categories=Utility;Office;ProjectManagement;
Keywords=time;tracker;hours;
