[Desktop Entry]
Type=Application
Name=TimeWorm
Comment=Zeiterfassung
Exec=/data/projects/tbe/timeworm/.venv/bin/timeworm
Icon=de.tbe.timeworm
Terminal=false
Categories=Office;ProjectManagement;
StartupWMClass=de.tbe.timeworm
Keywords=time;tracking;hours;invoice;